<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
    <property name="log.path" value="/home/rtdp/logs"/>
    <!-- 日志输出格式 -->
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 系统日志输出 -->
    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-info.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/sys-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>INFO</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sys-error.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log.path}/sys-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 过滤的级别 -->
            <level>ERROR</level>
            <!-- 匹配时的操作：接收（记录） -->
            <onMatch>ACCEPT</onMatch>
            <!-- 不匹配时的操作：拒绝（不记录） -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 邮件发送的appender -->
<!--    <appender name="email" class="ch.qos.logback.classic.net.SMTPAppender">-->
<!--        <smtpHost>smtp.qiye.aliyun.com</smtpHost>-->
<!--        <smtpPort>25</smtpPort>-->
<!--        <username>weiduan@hogae.com</username>-->
<!--        <password>weiduan123.</password>-->
<!--        <asynchronousSending>false</asynchronousSending>-->
<!--        <SSL>false</SSL>-->
<!--        <to>635843403@qq.com</to>-->
<!--        <from>weiduan@hogae.com</from>-->
<!--        <subject>cpa-consumer-error</subject>-->
<!--        &lt;!&ndash; html格式 &ndash;&gt;-->
<!--        <layout class="ch.qos.logback.classic.html.HTMLLayout">-->
<!--            <Pattern>%date%level%thread%logger{0}%line%message</Pattern>-->
<!--        </layout>-->
<!--        &lt;!&ndash; 这里采用等级过滤器，指定等级相符才发送，这里指定ERROR级别才发送 &ndash;&gt;-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        &lt;!&ndash; 每个电子邮件只发送一个日志条目 &ndash;&gt;-->
<!--        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">-->
<!--            <bufferSize>1</bufferSize>-->
<!--        </cyclicBufferTracker>-->
<!--    </appender>-->


    <!-- 系统模块日志级别控制  -->
    <logger name="com.hogae" level="info"/>
    <!-- Spring日志级别控制  -->
    <logger name="org.springframework" level="warn"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>

    <!--系统操作日志-->
    <root level="info">
        <appender-ref ref="file_info"/>
        <appender-ref ref="file_error"/>
<!--        <appender-ref ref="email"/>-->
    </root>

</configuration>